<div class="container" *ngIf="!labelTopPosition" class="form-group">
    <div class="flex-container content" fxLayout="row" fxLayoutAlign="space-between">
        <label *ngIf="label !== undefined" class="col-sm-3 control-label" [ngClass]="required ? 'required' : ''">{{
            label
            }}</label>
        <input matInput type="{{ type }}" (keyup)="onTextChange($event)" [formControl]="formControl"
               placeholder="{{ placeholder }}"/>
        <span>
        <span class={{iconClass}}></span>
      </span>
    </div>
    <div class="validation-alert" *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
        <div *ngIf="formControl.errors?.required">{{ label }} is required.</div>
    </div>
</div>

<div *ngIf="labelTopPosition" class="form-group container">
    <div>
        <label *ngIf="label !== undefined" class="control-label" [ngClass]="required ? 'required' : ''">{{ label
            }}</label>
    </div>
    <div>
        <input matInput type="{{ type }}" (keyup)="onTextChange($event)" [formControl]="formControl"
               placeholder="{{ placeholder }}"/>
        <span><span class={{iconClass}}></span></span>
    </div>
    <div class="validation-alert" *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
        <div *ngIf="formControl.errors?.required">{{ label }} is required.</div>
    </div>
</div>
