<div *ngIf="!labelTopPosition" [class.form-group]="isFormGroup" class="container">
  <label *ngIf="label !== undefined" class="control-label" [ngClass]="required ? 'required' : ''">{{ label }}</label>
  <div [ngClass]="styleClass == undefined ? 'select' : styleClass">
    <ngx-select-dropdown (click)="onDropDownClick()" (change)="selectionChanged($event)" (keyup)="onTextChange($event)"
      (searchChange)="onSearched($event)" [formControl]="formControl" [config]="config" [(ngModel)]="selectedOptions"
      [options]="list"></ngx-select-dropdown>
    <div class="validation-alert" *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
      <div *ngIf="formControl.errors?.required">{{ label }} is required.</div>
    </div>
  </div>
</div>

<div *ngIf="labelTopPosition" class="form-group" class="container">
  <div class="row">
    <label *ngIf="label !== undefined" class="control-label" [ngClass]="required ? 'required' : ''">{{ label
      }}</label>
  </div>
  <div class="row">
    <ngx-select-dropdown (click)="onDropDownClick()" (change)="selectionChanged($event)" (keyup)="onTextChange($event)"
      (searchChange)="onSearched($event)" [formControl]="formControl" [config]="config" [options]="list">
    </ngx-select-dropdown>
    <div class="validation-alert" *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
      <div *ngIf="formControl.errors?.required">{{ label }} is required.</div>
    </div>
  </div>
</div>