<div class="media-container">
    <ng-container *ngIf="keyValView.value!=''">
        <div class="header-container">
            <span class="header">
                {{keyValView.key}}
            </span>
            <div class="icon-container">
                <button class="icons" (click)="uploadImage(keyValView.met_prop_Id)" mat-icon-button type="button"
                    title="Upload image">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
                <button class="icons" (click)="removeImage()" mat-icon-button type="button" title="Delete image">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="image-container">
            <img (click)="showImage(keyValView.value.split('|')[0])" [src]="keyValView.value.split('|')[1]"
                alt="image loading failed" class="image">
        </div>
    </ng-container>
    <ng-container *ngIf="keyValView.value==''">
        <div class="header-container">
            <span class="header">
                {{keyValView.key}}
            </span>
            <div class="icon-container">
                <button class="icons" (click)="uploadImage(keyValView.met_prop_Id)" mat-icon-button type="button"
                    title="Upload image">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
            </div>
        </div>
    </ng-container>
</div>