<tr>
    <td class="datasheet_ancestors" style="width: 100%; padding: 15px">
        <div class="dd nestable dataview_tree">
            <ng-container *ngTemplateOutlet="categoryTree; context: { $implicit: keyValView.value }">
            </ng-container>
        </div>
    </td>
</tr>

<ng-template #categoryTree let-datObj>
    <ol class="dd-list t_list_children">
        <li class="dd-item">
            <div class="dd3-handle"></div>
            <div [ngClass]="datObj.target ? 'gen_border' : ''" class="dd3-content">
                <p class="content_title" style="width:97%">
                    <a (click)="goToURL(datObj.value)" *ngIf="datObj.value.datasheet" class="datasheet_text_shorten"
                       href="javascript:void(0)">{{datObj.value.displayValByPrecedence}}</a>
                    <span *ngIf="!datObj.value.datasheet"
                          class="datasheet_text_shorten">{{datObj.value.displayValByPrecedence}}</span>
                    <span *ngIf="this.datasheetInternalService.onSwitchDescription && _getDescription(datObj).length>0 && _getDescription(datObj)[0].description != null && _getDescription(datObj)[0].description != ''"
                          class="object_description"> - {{_getDescription(datObj)[0].description | descFilter : '140'}}
                        <span *ngIf="_getDescription(datObj)[0].description.length>140">...</span>
                    </span>
                </p>
                <mat-spinner *ngIf="loading" [diameter]="20" style="margin-top: 3px"></mat-spinner>
                <div class="spacer_1px"></div>

            </div>
            <ng-container *ngFor="let datObj of getChildren(keyValView, datObj)">
                <ng-container *ngTemplateOutlet="categoryTree; context: { $implicit: datObj }">
                </ng-container>
            </ng-container>
        </li>
    </ol>
</ng-template>
