<div class="parent-container">
    <ng-container *ngTemplateOutlet="categoryTree; context: { $implicit: keyValView.value }">
    </ng-container>
</div>

<ng-template #categoryTree let-datObj>
    <ol class="dd-list">
        <li class="dd-item">
            <div class="item-with-icon" [ngClass]="datObj.target ? 'gen_border' : ''">
                <mat-icon class="icon">view_headline</mat-icon>
                <div class="dd3-content">
                    <p class="content_title">
                        <a (click)="goToURL(datObj.value)" *ngIf="datObj.value.datasheet" class="datasheet_text_shorten"
                            href="javascript:void(0)"
                            [ngClass]="datObj.target ? 'gen_title' : ''">{{datObj.value.displayValByPrecedence}}</a>
                        <span *ngIf="!datObj.value.datasheet" class="datasheet_text_shorten"
                            [ngClass]="datObj.target ? 'gen_title' : ''">{{datObj.value.displayValByPrecedence}}</span>
                        <span
                            *ngIf="this.datasheetInternalService.onSwitchDescription && _getDescription(datObj).length>0 && _getDescription(datObj)[0].description != null && _getDescription(datObj)[0].description != ''"
                            class="object_description"> - {{_getDescription(datObj)[0].description | descFilter :
                            '140'}}
                            <span *ngIf="_getDescription(datObj)[0].description.length>140">...</span>
                        </span>
                    </p>
                    <mat-spinner *ngIf="loading" [diameter]="20" style="margin-top: 3px"></mat-spinner>
                    <div class="spacer_1px"></div>
                </div>
            </div>
            <ng-container *ngFor="let datObj of getChildren(keyValView, datObj)">
                <ng-container *ngTemplateOutlet="categoryTree; context: { $implicit: datObj }">
                </ng-container>
            </ng-container>
        </li>
    </ol>
</ng-template>