<div class="flex-container content" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="flex-item">
        <gs-search (performSearch)="searchText = $event"></gs-search>
    </div>
    <div class="flex-item">
        <mat-icon (click)="createView()" class="add-view">add</mat-icon>
    </div>
</div>

<div *ngIf="loading == false && views.length==0" style="min-height: 350px;">
    <div class="text-center">
        <div class="error-container">
            <div class="error-main m-t-20">
                <h1 class="text-left"><span id="404">No views Found</span></h1>
                <p style="font-size:18px"><span id="404-txt">Sorry, this space does not have any available content. Please try another space</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading">
    <ngx-skeleton-loader [theme]="{ height: '189px', width: '247px', margin: '5px', 'background-color': '#e6e6e6'}"
                         appearance="line" count="25">
    </ngx-skeleton-loader>
</div>

<div fxLayout="row stretch">
    <div *ngFor="let view of views | viewFilter:searchText" fxFlex="100%" fxFlex.lg="20%" fxFlex.md="50%"
         fxFlex.xl="20%" fxLayoutAlign="space-evenly center">
        <gs-tile (reloadViews)="refresh()" (removeDeleteView)="removeDeleteView($event)" [manageviews]=manageviews
                 [supguid]="supguid" [view]="view" style="width: 100%; margin: 10px">
        </gs-tile>
    </div>
</div>
