<div class="form-group">
  <label *ngIf="label !== undefined" class="col-sm-3 control-label" [ngClass]="required ? 'required' : ''">{{ label
    }}</label>
  <div class="col-sm-9 m-b-10">
    <input class="form-control" id="password" [type]="fieldTextType ? 'text' : 'password'" [formControl]="formControl"
           placeholder="{{ placeholder }}" />
    <a *ngIf="formControl.value != null && formControl.value != ''" class="password-icon" (click)="changeTextType()">
      <i class="fa" [ngClass]="{ 'fa-eye': !fieldTextType, 'fa-eye-slash': fieldTextType }"></i>
    </a>
    <div class="validation-alert" *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
      <div *ngIf="!formControl.errors?.required && formControl.errors?.spaceFound">
        Spaces are not allowed
      </div>
    </div>
    <div>
      <div>
        <i class="fa fa-check valid-password-icon" *ngIf="
            !formControl.errors?.minLength &&
            (formControl.dirty || formControl.touched)
          "></i>
        Password should contain at least 8 characters
      </div>
      <div>
        <i class="fa fa-check valid-password-icon" *ngIf="
            !formControl.errors?.lowerCaseRequired &&
            (formControl.dirty || formControl.touched)
          "></i>
        Password should contain at least one lower case letter
      </div>
      <div>
        <i class="fa fa-check valid-password-icon" *ngIf="
            !formControl.errors?.upperCaseRequired &&
            (formControl.dirty || formControl.touched)
          "></i>
        Password should contain at least one upper case letter
      </div>
      <div>
        <i class="fa fa-check valid-password-icon" *ngIf="
            !formControl.errors?.numberRequired &&
            (formControl.dirty || formControl.touched)
          "></i>
        Password should contain at least one number
      </div>
      <div>
        <i class="fa fa-check valid-password-icon" *ngIf="
            !formControl.errors?.symbolRequired &&
            (formControl.dirty || formControl.touched)
          "></i>
        Password should contain at least one special character
      </div>
      <div>
        <i class="fa fa-check valid-password-icon" *ngIf="
            !formControl.errors?.repeatFound &&
            (formControl.dirty || formControl.touched)
          "></i>
        Password Cannot contain more than 2 consecutive repeating characters
      </div>
    </div>
  </div>
</div>