<mat-toolbar color="primary">
    <button (click)="onLeftPanelToggle()" mat-icon-button type="button" title="Open sidenav">
        <mat-icon>menu</mat-icon>
    </button>
    <img *ngIf="isExpanded" src="../../../assets/logo.png" class="headingImg" />
    <span *ngIf="isExpanded">KIPSTOR</span>
    <space-selector (onSpaceChanged)="spaceChanged($event)"></space-selector>
    <span class="toolbar-spacer"></span>
    <global-search></global-search>
    <button mat-button [matMenuTriggerFor]="menu">
        <span class="username hidden-xs">{{givenName}}</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Account Settings</span>
        </button>
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
</mat-toolbar>
