<mat-toolbar class="header-nav" #toolbar>
    <button (click)="onLeftPanelToggle()" mat-icon-button title="Open sidenav" type="button">
        <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <h1>
        <a href="#" style="color: #ffffff; font-weight: normal; font-size: 24px; text-decoration: none;">
            <div class="logo">
                <img class="img-logo" src="../../../assets/logo.png"/>
                <div class="title">KIPSTOR</div>
            </div>
        </a>
    </h1>
    <global-search (onSearchEnabled)="showHideSearch($event)" [showGlobalSearch]="globalSearch">
    </global-search>
    <space-selector [currentSpace]="globals?.currentUser.currentSpace" (onSpaceChanged)="spaceChanged($event)">
    </space-selector>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <span class="username hidden-xs">{{givenName}}</span>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>accout_circle</mat-icon>
            <span>Account Settings</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
</mat-toolbar>
