.header-nav {
  background-color: #587ABC;
}

.logo {
  padding: 0px 20px 0px;
}

.img-logo {
  width: 50%;
  margin-right: 5px;
  margin-top: 10px;
}

.title {
  display: inline;
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 1rem;
}


