<div *ngIf="advanceOptions && !initNoContentFound" style="display: flex;align-items: center; justify-content: flex-end;"
    class="no-print">
    <button (click)="enableFilters()" mat-icon-button title="Enable Filters"
        [ngClass]="filtersEnabled ? 'switch-enabled' : 'switch-disabled'">
        <mat-icon class="mat-icon">filter_list</mat-icon>
    </button>
    <button *ngIf="!addPageSizeEnable" (click)="toggleAddCustomPageSize()" mat-icon-button title="Add page size">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-form-field *ngIf="addPageSizeEnable" [floatLabel]="'never'" class="input">
        <input type="text" matInput name="pageSize" placeholder="Page size"
            (keyup.enter)="addCustomPageSize($event.target.value)" (keypress)="keyPress($event)" />
        <button matSuffix mat-button (click)="toggleAddCustomPageSize()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-paginator #paginator [pageSize]="20" [length]="totalLength" [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true" (page)="pageChange($event)">
    </mat-paginator>
</div>
<ngx-skeleton-loader *ngIf="loading" count="10" appearance="line" [theme]="{height: '30px'}"></ngx-skeleton-loader>
<mat-table id="print-section" *ngIf="!loading && !initNoContentFound" [style.height]="'59vh'" style="overflow: auto;" #table
    [dataSource]="_dataSource" matSort matPaginator>
    <ng-container [matColumnDef]="displayedColumn.columnName!!" *ngFor="let displayedColumn of _displayedColumns">
        <mat-header-cell [style.width.%]="displayedColumn.styles.width_percentage" *matHeaderCellDef
            [style.display]="filtersEnabled ? 'flex' : ''" [style.justify-content]="filtersEnabled ? 'flex-end' : ''"
            [style.flex-direction]="filtersEnabled ? 'column' : ''" [style.align-items]="filtersEnabled ? 'start' : ''">
            <div>
                <div> {{ displayedColumn.displayName }}</div>
                <mat-form-field *ngIf="filtersEnabled" [floatLabel]="'never'">
                    <input type="text" matInput name="pageSize"
                        (input)="applyFilters(displayedColumn.columnName!!, $event.target.value)" />
                </mat-form-field>
            </div>
        </mat-header-cell>
        <mat-cell class="gs-table-cell" [style.width.%]="displayedColumn.styles.width_percentage"
            style="outline: none; justify-content: space-between;" *matCellDef="let element; let i = index"
            (click)="rowSelected(element, i)" [attr.tabindex]="i" (keyup.arrowup)="previousRowSelected(i)"
            (keyup.arrowdown)="nextRowSelected(i)" [ngClass]="selectedRowIndex == i? 'selected-cell':''">
            <div *ngIf="displayedColumn.type == 'text'">
                <span
                    *ngIf="i !== editableRowIndex || readOnlyColumnName === displayedColumn.columnName!; else editableText">
                    <span>{{ element[displayedColumn.columnName!] }}</span>
                </span>
                <ng-template #editableText>
                    <gs-input-box [name]="displayedColumn.columnName!">
                    </gs-input-box>
                </ng-template>
            </div>
            <div *ngIf="displayedColumn.type == 'binary'">
                <span *ngIf="element[displayedColumn.columnName!] == true">
                    {{ displayedColumn.booleanDefinitions![0] }}
                </span>
                <span *ngIf="element[displayedColumn.columnName!] == false">
                    {{ displayedColumn.booleanDefinitions![1] }}
                </span>
            </div>
            <div *ngIf="displayedColumn.type == 'template'">
                <ng-container [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{ templateElement: element }">
                </ng-container>
            </div>
            <div *ngIf="displayedColumn.type == 'action'">
                <ng-container [ngTemplateOutlet]="actionRef" [ngTemplateOutletContext]="{ element: element }">
                </ng-container>
            </div>
            <mat-icon *ngIf="displayedColumn.showSelectionIcon" aria-hidden="false" aria-label="RHS open">
                keyboard_arrow_right
            </mat-icon>
            <!-- <i *ngIf="displayedColumn.showSelectionIcon" style="margin-right: 15px;"
                class="fa fa-chevron-right fa-lg pull-right selection-icon"></i> -->
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="_columns"></mat-header-row>
    <mat-row id="{{j}}" (click)="highlight(j)" [ngClass]="{'selected-row': selectedRowIndex == j}"
        *matRowDef="let row; columns: _columns; let j = index"></mat-row>
</mat-table>