<div #fullScreen>
    <mat-card>
        <!-- <div tabindex="0" id="datview_bodypanel" class="panel general-panel panel_dataview fullheight"> -->

        <!-- <div class="panel-header"> -->
        <view-type-header [viewType]="viewType" [viewTitle]="viewTitle" [viewSubTitle]="vieSubTitle"
            [description]="description" [fullScreenIconVisible]="fullScreenIconVisible"
            (onFullScreenChange)="changeFullScreenView($event);" [viewNarrativeInlead]="vieNarrativeInlead"
            [viewNarrative]="vieNarrative" [viewNarrativeLeadOut]="vieNarrativeLeadOut"
            (imageColumnLayoutChange)="onImageColumnLayoutChange($event)">
        </view-type-header>
        <!-- </div> -->
        <media-view *ngIf="viewType == 'MM'" [supGuid]="datViewSupGuId" (onMediaDataLoad)="onViewDataLoad($event)"
            [oneColumnLayout]="oneColumnLayout">
        </media-view>
        <div [ngClass]="{'rhsOpen' : openRHS, 'rhsClosed':!openRHS }">
            <div [style.grid-area]="'table'">
                <hierarchy *ngIf="viewType=='HL'" (onHLDataLoad)="onViewDataLoad($event)" [spcSupGuId]="spcSupGuId"
                    [datViewSupGuId]="datViewSupGuId" (rightClick)="hlRightClick($event)"></hierarchy>
                <table-view *ngIf="viewType=='TB'" [datViewSupGuId]="datViewSupGuId" (selected)="rowSelected($event)"
                    (onTableDataLoad)="onViewDataLoad($event)"></table-view>
                <list *ngIf="viewType=='LS'" [spcSupGuId]="spcSupGuId" [datViewSupGuId]="datViewSupGuId"
                    (selected)=rowSelected($event); (onListViewLoad)="onViewDataLoad($event)"></list>
            </div>
            <div *ngIf="openRHS" [style.grid-area]="'rhs'">
                <rhs-panel [openRHS]="openRHS" [spcSupGuId]="spcSupGuId" [datViewSupGuId]="datViewSupGuId"
                    [supGuId]="supGuId" (onRHSToggle)="toggleRHS($event)">
                </rhs-panel>
            </div>
        </div>
        <!-- </div> -->
    </mat-card>
</div>