<mat-card>
    <mat-card-title>
        <view-type-header [viewType]="viewType" [viewTitle]="viewTitle" [viewSubTitle]="vieSubTitle"
            [description]="description" [fullScreenIconVisible]="fullScreenIconVisible"
            (onFullScreenChange)="changeFullScreenView($event);" [viewNarrativeInlead]="vieNarrativeInlead"
            [viewNarrative]="vieNarrative" [viewNarrativeLeadOut]="vieNarrativeLeadOut"
            (imageColumnLayoutChange)="onImageColumnLayoutChange($event)">
        </view-type-header>
    </mat-card-title>
    <mat-card-content>
        <media *ngIf="viewType == 'MM'" [supGuid]="datViewSupGuId" (onMediaDataLoad)="onViewDataLoad($event)"
            [oneColumnLayout]="oneColumnLayout">
        </media>
        <list *ngIf="viewType=='LS'" [spcSupGuId]="spcSupGuId" [datViewSupGuId]="datViewSupGuId"
            (selected)=rowSelected($event); (onListViewLoad)="onViewDataLoad($event)"></list>
        <hierarchy *ngIf="viewType=='HL'" (onHLDataLoad)="onViewDataLoad($event)" [spcSupGuId]="spcSupGuId"
            [datViewSupGuId]="datViewSupGuId" (rightClick)="hlRightClick($event)"></hierarchy>
    </mat-card-content>
</mat-card>