:host{
    overflow-y: auto;
}
.search_result div { margin-top: 5px; }
.search_result .search_line1 a { font-size: 18px; cursor: pointer;  color: #319db5;}
.search_result .search_line1 .search_location, .search_result .search_line1 .search_space { font-size: 15px; }
.search_result .search_line1 .search_location { text-transform: lowercase; }
.search_result .search_line1 .search_value, .search_result em { font-size: 14px; }
.search_result .search_line2, .search_result .search_line3 { font-size: 13px; }
.search_result em { font-weight: bold; }
.alert { width: 90%; display: inline-block; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { line-height: 1.18; }