<mat-card style="overflow: auto; height: 71vh;" #fullScreen class="fullheight">
    <mat-card-title>
        <mat-icon>search</mat-icon>"{{searchText}}"
    </mat-card-title>
    <mat-card-subtitle>Search Results </mat-card-subtitle>
    <mat-card-content>
        <div *ngFor="let result of resultList" class="search_result">
            <div class="search_line1">
                <a (click)="getSearchObject(result,result.NodeType);" class="search_subtitle">{{result.SUPtitle
                    ||''}}</a>&nbsp;&nbsp;<span class="search_space">in {{result.SPCShortTitle
                    ||''}}</span>&nbsp;&nbsp;<span class="search_location">{{result.key
                    ||''}}</span>&nbsp;&nbsp;<span class="search_value"
                    [innerHTML]="searchTruncate(result.value)"></span>
            </div>
            <div class="search_line2">{{result.METSupShortTitle ||''}}</div>
            <div class="search_line3">{{result.SUPdescription ||''}}</div>
            <mat-divider class="divider"></mat-divider>
        </div>
    </mat-card-content>
</mat-card>