<div id="contextMenu">
    <ul style="max-width: 450px !important;">
        <li *ngFor="let altview of alternateViews" style="width: 100%;">
            <a href="#/space/{{altview.spaceSupguid}}/dataview/{{altview.supGuid}}{{(altview.refDatObjectSupGuid ? (altview.uniViewFormat=='Subject Network' ? '/sng/' : '/datasheet/') + altview.refDatObjectSupGuid + '/?defaultDatasheetSupguId=' + altview.supGuid : '')}}"
                style="overflow-wrap:break-word; white-space: normal;  font-weight:normal;"
                target="_self">{{altview.refDataObjectDisplayTitle?altview.shortTitle+':'+altview.refDataObjectDisplayTitle:altview.shortTitle
                | descFilter : '120'}}</a>
        </li>
    </ul>
</div>

<div #fullScreen>
    <mat-card [ngClass]="{'view-fullscreen' : fullScreenEnabled, 'view-normal':!fullScreenEnabled }">
        <div class="action-bar">
            <view-type-header [viewType]="'SNG'" [viewTitle]="topologyData.objTitle!"
                [viewSubTitle]="topologyData.viewDisplayTitle!" [description]="topologyData.viewDisplayDesc!"
                [fullScreenIconVisible]="false">
            </view-type-header>

            <div>
                <button (click)="zoomIn=zoomIn+1" mat-icon-button>
                    <mat-icon>
                        zoom_in
                    </mat-icon>
                </button>
                <button (click)="zoomOut=zoomOut+1" mat-icon-button>
                    <mat-icon>
                        zoom_out
                    </mat-icon>
                </button>
                <button [disabled]="isPathSupportive" (click)="_setTopology()" mat-icon-button>
                    <mat-icon>
                        account_tree
                    </mat-icon>
                </button>
                <button (click)="changeFullScreenView()" mat-icon-button>
                    <mat-icon>{{fullScreenEnabled ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
                </button>
            </div>
        </div>

        <loading-spinner *ngIf="topologyData == null || topologyData.viewDisplayTitle == ''"></loading-spinner>
        <no-content-banner *ngIf="topologyData == null"></no-content-banner>
        <div class="flex-container content" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="row sng-wrapper flex-item" [ngClass]="{'rhsOpen' : openRHS, 'rhsClosed':!openRHS }"
                id=print-section>
                <div id="graph-canvas" style="height: 100%" [ngClass]="openRHS ? 'col-sm-8' : 'col-sm-12'"
                    em-height-source>
                    <gs-sng-radial-topology *ngIf="topologyData.topology=='Radial'" [topologyData]="topologyData"
                        (nodeClick)="_loadDatViewDetails($event)" (nodeRightClick)="_getAlternateViewsPerNode($event)"
                        [setZoomIn]="zoomIn" [setZoomOut]="zoomOut" [canvasSize]="canvasHeight">
                    </gs-sng-radial-topology>
                    <gs-sng-network-topology *ngIf="topologyData.topology=='Network'" [topologyData]="topologyData"
                        (nodeClick)="_loadDatViewDetails($event)" (nodeRightClick)="_getAlternateViewsPerNode($event)"
                        [setZoomIn]="zoomIn" [setZoomOut]="zoomOut">
                    </gs-sng-network-topology>
                    <gs-sng-hierarchy-topology *ngIf="topologyData.topology=='Hierarchy'" [topologyData]="topologyData"
                        (nodeClick)="_loadDatViewDetails($event)" (nodeRightClick)="_getAlternateViewsPerNode($event)"
                        [setZoomIn]="zoomIn" [setZoomOut]="zoomOut">
                    </gs-sng-hierarchy-topology>
                    <gs-sng-path-topology *ngIf="topologyData.topology=='Path'" [topologyData]="topologyData"
                        (nodeClick)="_loadDatViewDetails($event)" (nodeRightClick)="_getAlternateViewsPerNode($event)"
                        [setZoomIn]="zoomIn" [setZoomOut]="zoomOut">
                    </gs-sng-path-topology>
                </div>
            </div>
            <div *ngIf="openRHS" class="flex-item rhsOpenPanel">
                <rhs-panel [openRHS]="openRHS" [spcSupGuId]="spcSupGuId" [datViewSupGuId]="viewGuid" [supGuId]="supGuId"
                    (onRHSToggle)="toggleRHS($event)">
                </rhs-panel>
            </div>
        </div>
    </mat-card>
</div>

<!-- <div class="row" *ngIf="topologyData != null && topologyData.viewDisplayTitle != ''">
               <div class="col-sm-12">
                   <h2 id="page_header" style="display:inline">
                       <i class="fa" (click)="showDescription = !showDescription"
                          [ngClass]="showDescription ? 'fa-chevron-circle-down' : 'fa-chevron-circle-right'"></i>{{topologyData.objTitle}}
                       <div style="padding-left: 26px;font-size: 15px;">{{topologyData.viewDisplayTitle}}</div>
                   </h2>
                   <a href="javascript:void(0)" class="g_fr m-10">
                       fullscreen
                       <i [ngClass]="vm.fullscreen.isEnabled ? 'icon-size-actual' : 'icon-size-fullscreen'"
                          class="icon-size-fullscreen" style="font-size: 15px;"></i>
                   </a>
                   <a href="javascript: void(0);" (click)="zoomOut=zoomOut+1" class="g_fr m-10" title="zoom out"
                      style="font-size: 16px;line-height: 1.6"><i class="icon-magnifier-remove"></i></a>
                   <a href="javascript: void(0);" (click)="zoomIn=zoomIn+1" class="g_fr m-10" title="zoom in"
                      style="font-size: 16px;line-height: 1.6"><i class="icon-magnifier-add"></i></a>
                   <a href="javascript: void(0);" (click)="_setTopology()" class="g_fr m-10"
                      [ngClass]="isPathSupportive ? '': 'lnkdisabled'" title="Switch Topology"
                      style="font-size: 16px;line-height: 1.6"><i class="fa fa-sitemap"></i></a>
               </div>
               <h3 class="p-l-20" id="showdesc" ng-init="showDescription = false" *ngIf="showDescription">
                   {{topologyData.viewDisplayDesc}}</h3>
           </div>
       </div> -->