<mat-nav-list style="padding: 10px; border: none;">
  <mat-slide-toggle style="padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;" [checked]="true" [disabled]="false">
    <span *ngIf="isExpanded">Admin mode</span>
  </mat-slide-toggle>
  <mat-divider style="margin-bottom: 15px;"></mat-divider>
  <mat-list-item [routerLink]="['/tasks', {outlets: {side: ['create']}}]" style="margin-bottom: 10px;
  border-radius: 3px;" *ngFor="let menuItem of menuItems">
    <mat-icon mat-list-icon class="">{{menuItem.icon}}</mat-icon>
    <span *ngIf="isExpanded">{{menuItem.title}}</span>
  </mat-list-item>
</mat-nav-list>