<div>
  <mat-card class="result">
    <mat-card-content>
      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            color="primary"
            [checked]="true"
            [disabled]="false">
          <span *ngIf="isExpanded">Admin mode</span>
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon mat-list-icon>home</mat-icon>
      <span *ngIf="isExpanded">Dashboard</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>important_devices</mat-icon>
      <span *ngIf="isExpanded">Home</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>important_devices</mat-icon>
      <span *ngIf="isExpanded">Query</span>
    </mat-list-item>
  </mat-nav-list>
</div>


