<div mat-dialog-title class="modal-header">
    <h4 class="modal-title">
        <strong>{{query.queryShortTitle}}</strong> - Attach to View
    </h4>
    <button mat-icon-button title="Close modal" (click)="onDismiss()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="modal-content">
    <form [formGroup]="attachViewForm">
        <div class="row">
            <label class="control-label">View
            </label>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button style="margin-right: 15px;" value="false" color="primary">New</mat-radio-button>
                <mat-radio-button value="true" color="primary">Existing</mat-radio-button>
            </mat-radio-group>
            <!-- <div class="col-sm-8 m-b-10">
                        <div class="input-group">
                            <div class="icheck-inline">
                                <input type="radio" name="viewType" (change)="changeViewType();" value="false" />
                                <label>
                                    New </label> <input type="radio" name="viewType" (change)="changeViewType();"
                                    value="true" checked /><label>Existing</label>
                            </div>
                        </div>
                    </div> -->
            <!-- <div class="spacer_1px"></div> -->
        </div>
        <div class="row">
            <gs-select [label]="'Space'" [list]="spaceList" [key]="'title'" [value]="'supGuId'" [name]="'space'"
                [placeholder]="'Select a space'" (onChangeEvent)="spaceChange($event)">
            </gs-select>
        </div>
        <div class="row">
            <gs-select [label]="'View'" [list]="spaceList" [key]="'title'" [value]="'supGuId'" [name]="'space'"
                [placeholder]="'Select a view'" (onChangeEvent)="spaceChange($event)">
            </gs-select>
        </div>
        <div class="row">
            <label class="control-label">View title
            </label>
            <mat-form-field appearance="fill">
                <input matInput value="Sushi">
            </mat-form-field>
        </div>
        <div class="row">
            <label class="control-label">View Description
            </label>
            <mat-form-field appearance="fill">
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <!-- <div ng-show="vm.existView" class="form-group m-b-10">
                    <label class="col-sm-4 control-label"
                        ng-class="(vm.hasError && vm.targetView==null)?'c-red':''">View&nbsp;<span
                            class="c-red">*</span>
                        &nbsp;&nbsp;<i class="icon-info" tooltip-placement="right"
                            tooltip="Create new view or select existing view"></i>
                    </label>
                    <div class="col-sm-8 m-b-10">
                        <gs-icon-input-box [label]="'Select View(s) '" [name]="'viewSearch'"
                            [placeholder]="'Search View'" [type]="'text'" [iconClass]="'glyphicon glyphicon-search'"
                            (onChangeEvent)="searchViews($event)"></gs-icon-input-box>
                    </div>
                    <div class="spacer_1px"></div>
                </div>
                <div ng-show="!vm.existView" class="form-group m-b-10">
                    <label class="col-sm-4 control-label"
                        ng-class="(vm.hasError && vm.newViewTitle.length==0)?'c-red':''">View
                        ID&nbsp;<span class="c-red">*</span> &nbsp;&nbsp;<i class="icon-info" tooltip-placement="right"
                            tooltip="View Id"></i>
                    </label>
                    <div class="col-sm-8 m-b-10">
                        <input type="text" id="viewID" name="viewID" class="form-control" ng-model="vm.newviewID"
                            required />
                    </div>
                    <div class="spacer_1px"></div>
                </div>
                <div class="form-group m-b-10">
                    <label class="col-sm-4 control-label"
                        ng-class="(vm.hasError && vm.newViewTitle.length==0)?'c-red':''">View
                        Title&nbsp;<span class="c-red">*</span> &nbsp;&nbsp;<i class="icon-info"
                            tooltip-placement="right" tooltip="i.e View detail page title"></i>
                    </label>
                    <div class="col-sm-8 m-b-10">
                        <input type="text" id="viewTitle" name="viewTitle" class="form-control"
                            ng-model="vm.newViewTitle" required />
                    </div>
                    <div class="spacer_1px"></div>
                </div>
                <div class="form-group m-b-10">
                    <label class="col-sm-4 control-label">View
                        Description&nbsp;&nbsp;<i class="icon-info" tooltip-placement="right"
                            tooltip="i.e View detail page - description"></i>
                    </label>
                    <div class="col-sm-8 m-b-10">
                        <textarea id="viewDescription" name="viewDescription" rows="4" class="form-control" cols="50"
                            ng-model="vm.newViewDescription" required></textarea>
                    </div>
                </div>
                <p ng-if="vm.hasError" class="text-center">
                    <b>Please make sure you filled all fields with <span class="c-red">*</span></b>
                </p> -->
        <!-- </div> -->
        <!-- </div> -->
    </form>
</div>
<div style="min-height: 4px">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
<mat-divider></mat-divider>
<div class="modal-footer">
    <gs-button [label]="'Cancel'" [type]="'button'" (click)="onDismiss()">
    </gs-button>
    <gs-button [label]="'Submit'" [type]="'button'" [color]="'primary'" (click)="onConfirm()">
    </gs-button>
</div>
<!-- <div mat-dialog-actions class="bg-dark">
    <div style="width: 100%;
    height: 60px;
    padding: 0 10px;">
        <div style="float: right">
            <button type="button" class="btn btn-white" ng-click="vm.templateModal_2.close();">Cancel</button>
            <button type="button" class="btn btn-white" ng-click="vm.submitFunction()">Submit</button>
        </div>
    </div>
</div> -->