<app-header (leftPanelOpened)="drawer.toggle()"></app-header>
<mat-drawer-container class="left-container" autosize>
  <mat-drawer #drawer class="left-sidenav" mode="side" opened>
    <app-left-panel></app-left-panel>
  </mat-drawer>

<sa-spinner-round-filled class="spinner" [enabled]="loading"></sa-spinner-round-filled>
<mat-sidenav-container autosize *ngIf="!loading">
  <mat-sidenav #sidenav mode="side" opened="true">
    <app-left-panel [isExpanded]= "isLeftPanelExpanded" (leftPanelOpened)="onLeftPanelToggle($event)"></app-left-panel>
  </mat-sidenav>

  <div class="content" #main>
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</mat-sidenav-container>
</mat-drawer-container>
