<no-content-banner *ngIf="mediaLargePath == null && mediaFileExt == null && !loading">
</no-content-banner>
<div class="row stationlist ro-media " [ngClass]="oneColumnLayout ?'media-view-narrative-content':'media-view-content'"
    style="margin: 0px; overflow-y:auto" *ngIf="mediaFileExt != null || mediaFileExt != null">
    <loading-spinner *ngIf="loading"></loading-spinner>
    <div class="row ro-media fullheight" style="margin: 0px" *ngIf="oneColumnLayout">

        <div id="dataView_maincontainer1" class="col-md-12 text-center fullheight" style="padding: 10px;"
            *ngIf="mediaFileType=='Image'">
            <img (click)="showImage(mediaOriginalPath)" class="zoomimg" src="{{mediaLargePath}}" image-modal
                element-dimension="imgSize" element-callback="setImageDimension(imginfo)" element-index="1"
                [style.width.px]="dynamicWidth" [style.height.px]="dynamicHeight" />
        </div>
        <div class="col-md-12 media-nr" *ngIf="mediaFileExt=='PDF' || mediaFileExt=='DOCX' || mediaFileExt=='PPTX'"
            style="width:auto;">
            <a class="col-md-12" href="" (click)="downloadMediaFile(mediaFileExt)">Click Here to Download
            </a>
        </div>
    </div>

    <div class="row ro-media fullheight" style="margin: 0px" *ngIf="!oneColumnLayout">
        <div class="col-sm-4 p-b-10 line-separator">
            <div class="panel-content media-nr p-t-0">{{vieNarrativeInlead}}</div>
            <div class="panel-content media-nr p-t-0">{{vieNarrative}}</div>
            <div class="panel-content media-nr p-t-0">{{vieNarrativeLeadOut}}</div>
        </div>

        <div id="dataView_maincontainer1" class="col-sm-8 p-b-10 text-left fullheight" *ngIf="mediaFileType=='Image'">
            <img class="zoomimg" (click)="showImage(mediaOriginalPath)" src="{{mediaLargePath}}" image-modal
                element-dimension="imgSize" element-callback=".setImageDimension(imginfo)" element-index="1"
                [style.width.px]="dynamicWidth" [style.height.px]="dynamicHeight" />
        </div>
        <div id="dataView_maincontainer2" class="col-sm-8 p-l-30"
            *ngIf="mediaFileExt=='PDF' || mediaFileExt=='DOCX' || mediaFileExt=='PPTX'">
            <a href="" (click)="downloadMediaFile(mediaFileExt)">Click Here to Download
            </a>
        </div>
    </div>
</div>