.breadcrumb {
    background: none;
    display: inline-block;
    padding: 0;
    li {
        font-family: 'Lato', arial, sans-serif;
        list-style-type: none;
        font-weight:700;
        font-size: 12px;
        text-transform: uppercase;
        a {
            color: #319DB5;
        }
    }
    li.active {
        color: #333333;
    }
}
.breadcrumb>li+li {
    &:before {
        content: "\2022";
        padding: 0 8px 0 5px;
    }
}