<div class="breadcrumb">
    <div *ngFor="let element of breadcrumbNodes; let i = index">
        <span [ngSwitch]="element.displayText">
            <span class="item" *ngSwitchCase="'...'">
                {{element.displayText}}
            </span>
            <span class="item" *ngSwitchDefault>
                <a href="{{element.url}}" (click)="handleDefaultClick(element.displayText)">{{element.displayText}}</a>
            </span>
            <span class="divider" *ngIf="i<breadcrumbNodes.length - 1">/</span>
        </span>
    </div>
</div>