.breadcrumb {
  background: none;
  display: flex;
  div {
    list-style-type: none;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }
  div .item {
    margin-right: 5px;
    a {
      color: #6c757d;
      text-decoration: none;
    }
  }
  .divider {
    color: #cfd8dc;
    margin-right: 5px;
  }
}
