.qb {
    background: transparent;
    width: 100%;
    height: 350px;
}

.linkE {
    background: url('../../../../../assets/img/gojs/linkE.png');
}

.propE {
    background: url('../../../../../assets/img/gojs/propE.png');
}

