<mat-form-field appearance="fill" class="tab-text-area w-100">
<!--      <label *ngIf="label !== undefined" class="col-sm-3 control-label" [ngClass]="required ? 'required' : ''">{{ label-->
<!--        }}</label>-->
    <textarea matInput class="textarea-min-height w-100" [formControl]="formControl" placeholder="{{ placeholder }}"></textarea>
    <div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)" class="validation-alert">
        <div *ngIf="formControl.errors?.required">{{ label }} is required.</div>
    </div>
</mat-form-field>
