<!-- <a *ngIf="altViews && altViews.length > 0" href="javascript:" data-toggle="dropdown" data-hover="dropdown"
    data-close-others="true" style="padding-top: 0; padding-bottom: 0;" class="hidden-xs" title="Alternate Views">
    <i class="icon-eye " style="font-size: 20px;"></i>
</a>
<ul class="dropdown-menu" id="color-bar1" style="min-width: 450px !important;">
    <li *ngFor="let altview of altViews" style="width: 100%;">
        <a href="#/space/{{altview.spaceSupguid}}/dataview/{{altview.supGuid}}{{(altview.refDatObjectSupGuid ? (altview.uniViewFormat=='Subject Network' ? '/sng/' : '/datasheet/') + altview.refDatObjectSupGuid + '/?defaultDatasheetSupguId=' + altview.supGuid : '')}}"
            data-lang="fr">
            <i class="glyphicon glyphicon-ok-circle"></i>
            <span style="overflow-wrap:break-word; white-space: normal;">{{altview.refDataObjectDisplayTitle
                ? altview.altViewDisplayTitle + ':' +
                altview.refDataObjectDisplayTitle : altview.altViewDisplayTitle |
                slice:0:60 }}</span><span *ngIf="altview.altViewDisplayTitle.length>30">...</span>
        </a>
    </li>
</ul> -->
<button *ngIf="altViews.length > 0" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="action-icon">visibility</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="before" class="alt-menu">
    <button mat-menu-item *ngFor="let altview of altViews">{{altview.refDataObjectDisplayTitle
        ? altview.altViewDisplayTitle + ':' +
        altview.refDataObjectDisplayTitle : altview.altViewDisplayTitle |
        slice:0:60 }}</button>
</mat-menu>