<!-- <div class="row" class="querybuilder" style="height: 100%;">
    <div class="panel general-panel elastic-box">
        <div class="panel-header">
            <div class="row">
                <h2 class="col-xs-10">
                    <i class="icon-grid"></i>Query List
                </h2>
                <div style="float:right; text-align:right;" class="col-xs-2 ph_rhs noprint">
                    <a class="page-scroll m-r-10" title="New Query" href="#/admin/querybuilder"> <i
                            class="fa fa-plus-square"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row stationlist" style="flex-grow:1; overflow-y:auto;">
            <div class="col-md-12 p-20">
                <table class="table table-hover" align="center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Results Limit</th>
                            <th>Publication Status</th>
                            <th>View</th>
                            <th class="noprint"></th>
                            <th class="noprint"></th>
                            <th class="noprint"></th>
                            <th class="noprint"></th>
                            <th class="noprint"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let query of queryList; let i = index" (click)="savedQueryId=query.queryGuid;"
                            [ngClass]="query.queryGuid==savedQueryId ? 'active' : ''">
                            <td>{{i + 1}}</td>
                            <td>{{query.queryTitle}}</td>
                            <td>{{query.queryDescription}}</td>
                            <td>{{query.queryType}}</td>
                            <td>{{query.queryLimit}}</td>
                            <td *ngIf="query.queryState">Private</td>
                            <td *ngIf="!query.queryState">

                                <ngx-select-dropdown [options]="pubStatus" [config]="publicationStatusConfig"
                                    [(ngModel)]="query.qryPublicationStatus">
                                </ngx-select-dropdown>
                            </td>
                            <td>
                                <ngx-select-dropdown *ngIf="query.viewLinkRslt.length>1" [options]="query.viewLinkRslt"
                                    [config]="linkResultConfig">
                                </ngx-select-dropdown>
                                <p *ngIf="query.viewLinkRslt.length==1">{{(query.viewLinkRslt[0].viewShortTitle
                                    == null ? "-" : query.viewLinkRslt[0].libShortTitle + '_' +
                                    query.viewLinkRslt[0].spaceShortTitle + '_' +
                                    query.viewLinkRslt[0].viewShortTitle)}}</p>
                            </td>
                            <td class="noprint"><a href="javascript: void(0)" title="Preview your view"
                                    (click)="viewPreview(query)" *ngIf="query.viewLinkRslt[0].viewGuid!=null"><i
                                        class="fa fa-eye"></i></a></td>
                            <td class="noprint"><a href="javascript: void(0)" title="Edit Query"
                                    (click)="editQueryInBuild(query)"><i class="fa fa-edit"></i></a></td>
                            <td class="noprint"><a href="javascript: void(0)" title="Attach to a view"
                                    (click)="openAttachViewModal(query)"><i class="fa fa-paperclip"></i></a></td>
                            <td class="noprint"><a href="javascript: void(0)" title="Detach your view"
                                    (click)="detachQuery(query)" *ngIf="query.viewLinkRslt[0].viewGuid!=null"><i
                                        class="fa fa-chain-broken"></i></a></td>
                            <td class="noprint"><a href="javascript: void(0)" title="Delete Query" class="c-red"
                                    (click)="discardQuery(query)"><i class="fa fa-close"></i></a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<div #fullScreen>
    <mat-card>
        <div class="headerRow">
            <div class="headerIcon">
                <mat-icon>view_comfy</mat-icon>
                <h2 id="page_header" class="headerTitle">
                    Query List
                </h2>
            </div>
        </div>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;"> ID </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Title </th>
                <td mat-cell *matCellDef="let element" class="dynamic-row"> {{element.queryTitle}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.queryDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;"> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.queryType}} </td>
            </ng-container>

            <ng-container matColumnDef="limit">
                <th mat-header-cell *matHeaderCellDef style="width: 5%;"> Result Limit </th>
                <td mat-cell *matCellDef="let element"> {{element.queryLimit}} </td>
            </ng-container>

            <ng-container matColumnDef="publicationStatus">
                <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Publication Status </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.queryState">Private</div>
                    <div *ngIf="!element.queryState" style="width: 85%;">
                        <ngx-select-dropdown [options]="pubStatus" [config]="publicationStatusConfig"
                            [(ngModel)]="qryPublicationStatus">
                        </ngx-select-dropdown>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef style="width: 30%;"> View </th>
                <td mat-cell *matCellDef="let element" class="dynamic-row">
                    <ngx-select-dropdown *ngIf="element.viewLinkRslt.length>1" [options]="element.viewLinkRslt"
                        [config]="linkResultConfig">
                    </ngx-select-dropdown>
                    <p *ngIf="element.viewLinkRslt.length==1">{{(element.viewLinkRslt[0].viewShortTitle
                        == null ? "-" : element.viewLinkRslt[0].libShortTitle + '_' +
                        element.viewLinkRslt[0].spaceShortTitle + '_' +
                        element.viewLinkRslt[0].viewShortTitle)}}</p>
                    <div style="display: flex;">
                        <mat-icon (click)="viewPreview(element)" class="icon-view">visibility</mat-icon>
                        <mat-icon (click)="editQueryInBuild(element)" class="icon-view">edit</mat-icon>
                        <mat-icon (click)="openAttachViewModal(element)" class="icon-view">insert_link</mat-icon>
                        <mat-icon (click)="detachQuery(element)" class="icon-view">link_off</mat-icon>
                        <mat-icon (click)="discardQuery(element)" class="icon-view">delete</mat-icon>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>

    </mat-card>
</div>