<button mat-button [matMenuTriggerFor]="main_menu">
    {{currentSpace.shortTitle}}
    <mat-icon>keyboard_arrow_down</mat-icon>
</button>

<mat-menu #main_menu="matMenu">
    <ng-container *ngFor="let mainItem of spaces">
        <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem.supShortTitle }}</button>
        <mat-menu #sub_menu="matMenu">
            <button *ngFor="let subItem of mainItem.spaces" (click)="setSpace(subItem.supGuid)" mat-menu-item>{{ subItem.supShortTitle }}</button>
        </mat-menu>
    </ng-container>
</mat-menu>