<ng-container *ngFor="let key of keyValue; let i = index">
    <div class="container">
        <div [attr.rowspan]="rowspanLengthKey(keyValue, key.key)" *ngIf="(i == 0 || keyValue[i-1].key!=key.key)"
            class="first-item ">
            {{key.key}}
        </div>
        <div [attr.rowspan]="rowspanLengthTooShortTitle(keyValue, key.key, key.tooShortTitle)"
            *ngIf="(i == 0 || (keyValue[i-1].tooShortTitle!=key.tooShortTitle || keyValue[i-1].key!=key.key))"
            class="second-item">
            {{key.tooShortTitle}}
        </div>
        <div *ngIf="isObject(key.value) && key.value.datasheet">
            <a href="javascript:void(0)" (click)="goToURL(key.typeOfValue)" class="displayLink">
                {{key.value.displayLinkVal.split('@#$')[0]}}
            </a>
            <span
                *ngIf="this.datasheetInternalService.onSwitchDescription && _getDescription(key.typeOfValue).length>0 && _getDescription(key.typeOfValue)[0].description != null && _getDescription(key.typeOfValue)[0].description != ''"
                class="object_description"> - {{_getDescription(key.typeOfValue)[0].description | descFilter : '140'}}
                <span *ngIf="_getDescription(key.typeOfValue)[0].description.length>140">...</span>
            </span>
        </div>
        <div *ngIf="isObject(key.value) && !key.value.datasheet">
            {{key.value.displayLinkVal.split('@#$')[0]}}
        </div>
        <div *ngIf="!isObject(key.value)">
            {{key.value}}
        </div>
    </div>
</ng-container>