<div class="row" *ngIf="viewType!='MM' && viewTitle != ''">
    <div class="headerRow">
        <div class="headerIcon">
            <button (click)="showDescription = !showDescription;" mat-icon-button title="Page description">
                <mat-icon>{{showDescription ? 'expand_more' : 'chevron_right'}}</mat-icon>
            </button>
            <h2 id="page_header" class="headerTitle">
                {{viewTitle}}
            </h2>
        </div>
        <button *ngIf="fullScreenIconVisible" (click)="changeFullScreenView()" mat-icon-button title="Full screen">
            <mat-icon>{{fullScreenEnabled ? 'fullscreen_exit' : 'fullscreen'}}</mat-icon>
        </button>
    </div>
    <h4 id="showdesc" *ngIf="showDescription" class="headerDes">{{description}}
    </h4>
</div>
<div class="row" *ngIf="viewType=='MM' && viewTitle != ''">
    <div class="headerRow">
        <div class="headerIcon">
            <button (click)="showDescription = !showDescription;" mat-icon-button title="Page description">
                <mat-icon>{{showDescription ? 'expand_more' : 'chevron_right'}}</mat-icon>
            </button>
            <h2 id="page_header" class="headerTitle">
                {{viewTitle}}
            </h2>
        </div>
    </div>
    <div>
        <h3 id="showTitle" *ngIf="showDescription">{{viewSubTitle}}</h3>
        <h3 id="showdesc" *ngIf="showDescription">{{description}}</h3>
    </div>
    <div>
        <h3 id="page_header">
            <button *ngIf="oneColumnLayout && showNarratives" (click)="showImageWithNarrative();" mat-icon-button
                title="show image with narrative">
                <mat-icon>view_column</mat-icon>
            </button>
            <button *ngIf="!oneColumnLayout && showNarratives" (click)="removeImageNarrative();" mat-icon-button
                title="remove image with narrative">
                <mat-icon>view_agenda</mat-icon>
            </button>
            <button mat-button (click)="showNarratives= ! showNarratives; removeImageNarrative();"
                *ngIf="showNarratives">Hide
                Narrative</button>
            <button mat-button (click)="showNarratives= ! showNarratives;" *ngIf="!showNarratives">Show
                Narrative</button>
        </h3>

        <div *ngIf="oneColumnLayout && showNarratives">
            <div class="panel-content">{{viewNarrativeInlead}}</div>
            <div class="panel-content">{{viewNarrative}}</div>
            <div class="panel-content">{{viewNarrativeLeadOut}}</div>
        </div>
    </div>
</div>