.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerIcon {
  display: flex;
  align-items: center;
}
.headerTitle {
  display: inline;
  margin: 0;
}
.headerDes {
  white-space: pre-line;
  word-break: break-word;
  margin: 0;
  padding: 0;
}
