<div style="display: inline-flex;">
    <li *ngIf="showGlobalSearch" style="padding-right: 0; position: relative;" class="visible-lg">
        <div style="display: inline-block">
            <input (keyup.enter)="search()" type="text" placeholder="Your Search..." #input [(ngModel)]="searchText" class="form-control" />
        </div>
        <span class="inputtxt-delete" *ngIf="searchText.length > 0" (click)="clearSearch()">x</span>
    </li>

    <li style="padding-right: 5px;" class="visible-lg">
        <i class="fa fa-search m-t-5" style="font-size: 18px" *ngIf="!showGlobalSearch"
            (click)="showHideGlobalSearch()"></i>
        <button class="btn btn-default" *ngIf="showGlobalSearch" type="button" (click)="search()"
            style="padding: 0px 15px;">
            <i class="fa fa-search"></i>
        </button>
    </li>
</div>