<div class="flex-container content" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="flex-item">
        <breadcrumb (elementClick)="homeSelected(); popCrumbTrailStack($event)"></breadcrumb>
    </div>
    <div class="flex-item">
        <alternative-view *ngIf="showAltView"></alternative-view>
        <button *ngIf="showPrint" mat-icon-button printSectionId="print-section" ngxPrint [useExistingCss]="true">
            <mat-icon class="action-icon" aria-hidden="false">print</mat-icon>
        </button>
        <button *ngIf="showShare" mat-icon-button>
            <mat-icon class="action-icon" aria-hidden="false">share</mat-icon>
        </button>
    </div>
</div>