<div class="modal-header">
  <button type="button" class="close" (click)="onDismiss()" data-dismiss="modal" aria-hidden="true">
    <i class="icons-office-52"></i>
  </button>
  <h4 class="modal-title">
    <strong class="ng-binding">{{ data.title }}</strong>
  </h4>
</div>

<div class="modal-body">
  <p>{{ data.message }}</p>
</div>
<div class="modal-footer bg-dark">
  <gs-button [label]="data.controller.declineLabel" [type]="'button'" [styleClass]="'btn-white'" (click)="onDecline()">
  </gs-button>
  <gs-button [label]="data.controller.confirmLabel" [type]="'button'" (click)="onConfirm()"></gs-button>
</div>