<div class="modal-header">
  <h4 class="header">
    <strong class="ng-binding">{{ data.title }}</strong>
  </h4>
  <button (click)="onDismiss()" mat-icon-button title="Close confirmation">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <p>{{ data.message }}</p>
</div>
<div class="modal-footer">
  <gs-button [label]="data.controller.declineLabel" [type]="'button'" (click)="onDecline()">
  </gs-button>
  <gs-button [label]="data.controller.confirmLabel" [type]="'button'" [color]="'primary'" (click)="onConfirm()">
  </gs-button>
</div>