<div class="uploading-progress">
    <mat-progress-bar *ngIf="uploading" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card id="datasheetpage" class="datasheet-card">
    <div *ngIf="loading">
        <div class="row">
            <div class="col-sm-1">
                <ngx-skeleton-loader [theme]="{ width: '80px', height: '80px' }" appearance="circle">
                </ngx-skeleton-loader>
            </div>
            <div class="col-sm-11 p-15">
                <div>
                    <ngx-skeleton-loader [theme]="{width: '200px', borderRadius: '0','margin-bottom': '10px' }">
                    </ngx-skeleton-loader>
                </div>
                <div>
                    <ngx-skeleton-loader [theme]="{ width: '170px', borderRadius: '0' }">
                    </ngx-skeleton-loader>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ngx-skeleton-loader
                    [theme]="{ width: '130px', height: '35px', borderRadius: '0', float: 'right', marginRight: '10px' }"
                    count="3">
                </ngx-skeleton-loader>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ngx-skeleton-loader [theme]="{width: '100%', borderRadius: '0',height: '30px',marginBottom: '10px' }"
                    count="20">
                </ngx-skeleton-loader>
            </div>
        </div>
    </div>
    <div *ngIf="!loading">
        <h2 class="header-container" id="page_header">
            <div class="title">
                <mat-icon class="icon">layers</mat-icon>{{objTitle}}
            </div>
            <div class="view-title">{{viewTitle}}</div>
        </h2>

        <div *ngIf="datasheetInternalService.showToggles">
            <mat-slide-toggle (change)="onDataForDesSwitch()" [checked]="datasheetInternalService.onSwitchDescription"
                [disabled]="datasheetInternalService.decsDisabled" color="primary" class="toggles">
                Descriptions
            </mat-slide-toggle>
            <mat-slide-toggle (change)="onDataForDescendantsSwitch()"
                [checked]="datasheetInternalService.onSwitchDescendants"
                [disabled]="datasheetInternalService.decDisabled" color="primary" class="toggles">
                Descendants
            </mat-slide-toggle>
            <mat-slide-toggle (change)="onDataForAncSwitch()" [checked]="datasheetInternalService.onSwitchAncestors"
                [disabled]="datasheetInternalService.ancDisabled" color="primary" class="toggles">
                Ancestors
            </mat-slide-toggle>
        </div>
    </div>

    <div id="print-section" *ngIf="!loading" class="data-container">
        <div *ngFor="let view of propertyValueListForDataSheet; let arrOffset = index" class="section">
            <div class="group-title">
                <label id="dashboard_tbl_lbl">{{view.group}} </label>
            </div>
            <div class="group">
                <ng-container *ngFor="let keyValView of view.keyValue; let orderOffset = index">
                    <div *ngIf="isLabelValue(view, keyValView)" [keyValView]="keyValView" [orderOffset]="orderOffset"
                        [view]="view" gs-td-label class="label">
                    </div>
                    <div (onUpload)="onUpload($event)" *ngIf="isMedia(view, keyValView)" [keyValView]="keyValView"
                        [orderOffset]="orderOffset" [view]="view" gs-td-media class="media">
                    </div>
                    <div (onPropertyChange)="onPropertyChange($event)" *ngIf="isHierarchy(view)" [arrOffset]="arrOffset"
                        [keyValView]="keyValView" [orderOffset]="orderOffset"
                        [propertyValueListForDataSheet]="propertyValueListForDataSheet" [spcSupGuId]="spcSupGuId"
                        [view]="view" gs-td-hierarchy class="hierarchy">
                    </div>
                </ng-container>
                <ng-container *ngIf="isLabelTbl(view)">
                    <div [keyValue]="view.keyValue" [view]="view" gs-td-label-tbl class="label-tbl">
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</mat-card>